/*JCE Editor - 2.4.6 | 19 January 2015 | http://www.joomlacontenteditor.net | Copyright (C) 2006 - 2014 Ryan Demmer. All rights reserved | GNU/GPL Version 2 or later - http://www.gnu.org/licenses/gpl-2.0.html*/
span.editable-edit{width:20px;height:20px;display:inline-block;cursor:pointer;background:transparent url("../img/icons.png") no-repeat 0 -1080px;vertical-align:middle;}