/**
 * @author   	ClearTemplates.com
 * @copyright   Copyright (C) 2015 ClearTemplates.com. All rights reserved.
 * @URL 		https://cleartemplates.com/
 * @license     GNU General Public License version 2 or later; see LICENSE.txt
 */
 
// CSS Reset
@import "../../../media/jui/less/reset.less";

// Core variables and mixins
@import "variables.less"; // Custom for this template
@import "../../../media/jui/less/mixins.less";

// Grid system and page structure
@import "../../../media/jui/less/scaffolding.less";
@import "../../../media/jui/less/grid.less";
@import "../../../media/jui/less/layouts.less";

// Base CSS
@import "../../../media/jui/less/type.less";
@import "../../../media/jui/less/code.less";
@import "../../../media/jui/less/forms.less";
@import "../../../media/jui/less/tables.less";

// Components: common
// @import "../../../media/jui/less/sprites.less";
@import "../../../media/jui/less/dropdowns.less";
@import "../../../media/jui/less/wells.less";
@import "../../../media/jui/less/component-animations.less";
@import "../../../media/jui/less/close.less";

// Components: Buttons & Alerts
@import "../../../media/jui/less/buttons.less";
@import "../../../media/jui/less/button-groups.less";
@import "../../../media/jui/less/alerts.less"; // Note: alerts share common CSS with buttons and thus have styles in buttons.less

// Components: Nav
@import "../../../media/jui/less/navs.less";
@import "../../../media/jui/less/navbar.less";
@import "../../../media/jui/less/breadcrumbs.less";
@import "../../../media/jui/less/pagination.less";
@import "../../../media/jui/less/pager.less";

// Components: Popovers
@import "../../../media/jui/less/modals.less";
@import "../../../media/jui/less/tooltip.less";
@import "../../../media/jui/less/popovers.less";

// Components: Misc
@import "../../../media/jui/less/thumbnails.less";
@import "../../../media/jui/less/labels-badges.less";
@import "../../../media/jui/less/progress-bars.less";
@import "../../../media/jui/less/accordion.less";
@import "../../../media/jui/less/carousel.less";
@import "../../../media/jui/less/hero-unit.less";

// Utility classes
@import "../../../media/jui/less/utilities.less";

// RESPONSIVE CLASSES
// ------------------

@import "../../../media/jui/less/responsive-utilities.less";


// MEDIA QUERIES
// ------------------

// Phones to portrait tablets and narrow desktops
@import "../../../media/jui/less/responsive-767px-max.less";

// Tablets to regular desktops
@import "../../../media/jui/less/responsive-768px-979px.less";

// Large desktops
@import "../../../media/jui/less/responsive-1200px-min.less";


// RESPONSIVE NAVBAR
// ------------------

// From 979px and below, show a button to toggle navbar contents
@import "../../../media/jui/less/responsive-navbar.less";

// Extended for JUI
@import "../../../media/jui/less/bootstrap-extended.less"; // Has to be last to override when necessary
// div.modal (instead of .modal)
@import "../../../media/jui/less/modals.joomla.less";
@import "../../../media/jui/less/responsive-767px-max.joomla.less";

// Icon Font
@import "icomoon.less";
@import "glyphicons.less";


/* Site Body Styles */
body.site{	
	padding: 0;
	background: #fff;
}
body.site.fluid{
	background-color: #ffffff;
}
/* Container */
.container{
	max-width: 960px;
	background-color: #fff;	
	padding: 20px;
}


.thumbnail {
	margin-bottom:9px;
}
.accordion-group {
	background:#fff;
}
/* Site Title (if no logo) */
.site-title {
	font-size: 32px;
	font-weight: bold;
	color: #333;
	
}
.brand {
	color: darken(@linkColor, 20%);
	.transition(color .5s linear);
}
.brand:hover {
	color: @linkColor;
	text-decoration: none;
}

.btn {
	.border-radius(@btnBorderRadius);
}



// Header
// -----
.header{	
	padding: 0;	
	.container {
		
		
		
		.logo {
			padding: 15px 0 0 10px;
			
		}	
		
		
		
		
		.header-right {
			padding: 15px 0 0 0;
			
			form {
				margin: 0;
			}
			
			.clear-info-text {
			
				.clear-map {
					font-size: 13px;
					
					
					.glyphicon {
						color: #0282c3;
						font-size: 18px;
						margin-right: 4px;						
					}
				}
				
				.clear-phone {
					font-size: 24px;
					text-align: right;
					
					.glyphicon {						
						color: #0282c3;						
						font-size: 18px;
						margin-right: 5px;
					}
				}
				
				.clear-email {
					font-size: 12px;
					padding-top: 8px;
					
					.glyphicon {
						color:#999;
						font-size: 12px;
					}
					a {
						color: #818181;
					}
					
				}
				
			}
		}			
	
	}
}


.header .finder {
	margin-top: 14px;
}
.header .finder .btn{
	margin-top: 0px;
}




/* Nav */ 
.nav {}

.clear-left .nav > li > a,
.clear-right .nav > li > a {
	padding: 10px 15px;
	background: #EFF5F7;
	margin-bottom:1px;
	color: #666;
}
.clear-right  .nav > .active > a,
.clear-right  .nav > .active > a:hover,
.clear-right  .nav > .active > a:focus,
.clear-left  .nav > .active > a,
.clear-left  .nav > .active > a:hover,
.clear-left  .nav > .active > a:focus {
  color: @navbarLinkColorActive;
  text-decoration: none;
  background-color: @navbarLinkBackgroundActive;
  .box-shadow(inset 0 3px 8px rgba(0,0,0,.125));
}


.clear-right  .nav > .open > a,
.clear-right  .nav > .open > a:hover,
.clear-right  .nav > .open > a:focus,
.clear-left  .nav > .open > a,
.clear-left  .nav > .open > a:hover,
.clear-left  .nav > .open > a:focus {
  color: @navbarLinkColorActive;
  text-decoration: none;
  background-color: @gray;
  .box-shadow(inset 0 3px 8px rgba(0,0,0,.125));
}


.navigation{
	padding: 5px 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.navigation .nav-pills{
	margin-bottom: 0;
}
/* Hero Banner Unit */
.hero-unit{
	background-color: #08C;
}
.hero-unit > *{
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}


/* Wells */
.well .page-header{
	margin: 0px 0px 5px 0px;
}
/* Headings */

h1, h2, h3, h4, h5, h6 {
  margin: (@baseLineHeight / 1.5) 0;
}
h1 { font-size: 26px; line-height: 28px; }
h2 { font-size: 22px; line-height: 24px; }
h3 { font-size: 18px; line-height: 20px; }
h4 { font-size: 14px; line-height: 16px; }
h5 { font-size: 13px; line-height: 15px; }
h6 { font-size: 12px; line-height: 14px; }

.page-header {
	h1,
	h2,
	h3 {
		margin-bottom: 0;
	}
	
	a {
		color: #333;
	}
	a:hover,
	a:focus {
		color: #555;
	}
}

/* Module */
.module-header {
	padding-bottom: 17px;
	margin: 20px 0 18px 0;
	border-bottom: 1px solid #eeeeee;
}

.moduletable {
	h3 {		
		font-size: 22px;
		font-weight: 300;		
	}
	
}

.readmore {
	
	.icon-chevron-right {
		display: none;
	}
	.btn {			
		.border-radius(1px);
		.box-shadow(none);	
		border: 1px solid #eee;
		background: #f9f9f9;
		
	}
}

/* Single Item */
.item-title {
	margin-bottom:9px;
	font-weight: 300;
	color: #333;
	a {
		color: #333;
	}
}

.item-content {
	margin:18px 0;
}
.item-subtitle {
	margin-bottom:9px;
}
.pull-right.item-image {
	margin:0 0 18px 20px;
}
.pull-left.item-image {
	margin:0 20px 18px 0;
}
.header .nav > li:last-child > .dropdown-menu,
.item-actions .dropdown-menu,
.item-comment .dropdown-menu {
	left:initial;
	right:0;
}
.article-index {
	margin:0 0 10px 10px;
}
/* List */
.list-item-title {
	margin-bottom:9px;
}
.list-item-content {
	margin:18px 0;
}
.list-item-subtitle {
	margin-bottom:9px;
}
/* More Items */
.items-more,
.content-links {
	padding: 15px 0;
}
/* Breadcrumbs */
.breadcrumb {
	margin: 10px 0;
}
/* Caption fixes */
.img_caption .left {
	float: left;
	margin-right: 1em;
}

.img_caption .right {
	float: right;
	margin-left: 1em;
}

.img_caption .left p {
	clear: left;
	text-align: center;
}

.img_caption .right p {
	clear: right;
	text-align: center;
}

.img_caption  {
	text-align: center!important;
}
p.img_caption {
	background: #444;
	clear: both;
	margin: 5px 0;
	padding: 2px 0;
	color: #fff;
}
.img_caption.none {
	margin-left:auto;
	margin-right:auto;
}
/* New captions */
figure {
	display: table;
}
figure.pull-center,
img.pull-center {
	margin-left: auto;
	margin-right: auto;
}
figcaption {
	display: table-caption;
	caption-side: bottom;
}


// menu
// ----------------------
.dropdown-menu,
.dropdown-submenu > .dropdown-menu { 
	margin: 0;
	.border-radius(0);
	border: 1px solid #eee;	
	.box-shadow(0 1px 5px 0 rgba(0,0,0,.05));
}



.navbar-wrapper .container{
	padding-top: 0;
	padding-bottom: 0;
}
.navbar {
	margin:0 0 5px 0;
	padding:0;
	position: relative;
	z-index: 999;

	.brand {
		
	}
	
	
	.clear-phone-logo {
		font-size:14px;
		color: #fff;
		max-height: 35px;
		margin-left: 5px;
		
		.site-title {
			font-size:18px;
			font-weight: normal;
			color: #fff;
			
		}
		a {
			font-size:18px;			
		}
		span {
			padding: 10px;
			display: block;
		}
		img {
			max-width:100%;	
			max-height: 35px;
		}
	}
	
	.navbar-inner {
		border:none;
		.border-radius(0);
		.box-shadow(0 1px 1px 0 rgba(0,0,0,.3));
		padding:0;
		
		//gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
		
	}
	.dropdown-menu > li > a {
		padding: 6px 20px;		
	}
	.nav > li > a {
		text-shadow: none;	
		padding: 12px 25px;
		margin:0;
		position: relative;
		//padding: 10px 15px;
		//.border-radius(2px);		
	}
	
	.nav > li > a:after {
		content: '';
		position: absolute;
		top: 0;
		right: -1px;
		background: url('../images/spacer.png') 0 0 no-repeat;
		width: 2px;
		height: 100%;
	}
	
	// Navbar collapse button
	.btn-navbar {
    .buttonBackground(darken(@navbarInverseBackgroundHighlight, 5%), darken(@navbarInverseBackground, 5%));
  }
	
}

// slider
// -----
.clear-slider {
	top: -25px;
	position: relative;
	z-index: 10;

	.clear-slider-wrap {		
		
		
		.mod_ext_owl_carousel_images {
			padding: 0;			
			
			.owl-theme .owl-controls {
				margin: 0;
				
				.owl-buttons div {
					background: #005885;
					filter: Alpha(Opacity=90);
					opacity: 0.9;
					box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);					
					padding: 20px 12px;
				}
				.owl-prev {
					left: 20px;
				}
				.owl-next {
					right: 20px; 
				}
				.owl-pagination {
					margin-top: -35px;
					position: relative;
				}
				.owl-page span {
					background: #005885;
				}
			}			
			
			.ext-item-html {
				bottom: 60px;
				left: 20%;
				right: 20%;
				width: 50%;
				margin: 0 auto;
				
			}
			
			
		}
	
	}
}

// breadcrumbs
// -----
.clear-breadcrumbs {
	.container {
		padding-top: 0;
		padding-bottom: 0;
		.breadcrumb {
			.border-radius(1px);
		}
	}
}


// PILLS
// -----

// Links rendered as pills
.nav-pills > li > a {
  //padding-top: 8px;
  //padding-bottom: 8px;
  //margin-top: 2px;
  //margin-bottom: 2px;
  margin:0;
  .border-radius(0);
}


// STACKED NAV
// -----------

// Stacked tabs and pills
.nav-stacked > li {
  float: none;
}
.nav-stacked > li > a {
  margin-right: 0; // no need for the gap between nav items
}

// Tabs
.nav-tabs.nav-stacked {
  border-bottom: 0;
}
.nav-tabs.nav-stacked > li > a {
  border: none;
  border-top: 1px solid #ddd;
  .border-radius(0);
}
.nav-tabs.nav-stacked > li:first-child > a {
 // .border-top-radius(4px);
 .border-radius(0);
}
.nav-tabs.nav-stacked > li:last-child > a {
 // .border-bottom-radius(4px);
  .border-radius(0);
}
.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:focus {
  border-color: #ddd;
  z-index: 2;
}

// Pills
.nav-pills.nav-stacked > li > a {
  margin-bottom: 3px;
}
.nav-pills.nav-stacked > li:last-child > a {
  margin-bottom: 1px; // decrease margin to match sizing of stacked tabs
}





/* Navigation Submenus */
// The dropdown menu (ul)
// ----------------------
.navigation {
	.nav-child {
		position: absolute;
		top: 95%;
		left: 0;
		z-index: @zindexDropdown;
		display: none; // none by default, but block on "open" of the menu
		float: left;
		min-width: 160px;
		padding: 5px 0;
		margin: 2px 0 0; // override default ul
		list-style: none;
		background-color: @dropdownBackground;
		border: 1px solid #ccc; // Fallback for IE7-8
		border: 1px solid @dropdownBorder;
		*border-right-width: 2px;
		*border-bottom-width: 2px;
		.border-radius(6px);
		.box-shadow(0 5px 10px rgba(0,0,0,.2));
		-webkit-background-clip: padding-box;
		 -moz-background-clip: padding;
		      background-clip: padding-box;
		
		// Aligns the dropdown menu to right
		&.pull-right {
			right: 0;
			left: auto;
		}
		
		// Dividers (basically an hr) within the dropdown
		.divider {
			.nav-divider(@dropdownDividerTop, @dropdownDividerBottom);
		}
		
		// Links within the dropdown menu
		a {
			display: block;
			padding: 3px 20px;
			clear: both;
			font-size: @baseFontSize;
			font-weight: normal;
			line-height: @baseLineHeight;
			color: @dropdownLinkColor;
			white-space: nowrap;
		}
	}
	.nav > li {
		position: relative;
	}
	.nav > li:hover > .nav-child,
	.nav > li > a:focus + .nav-child, {
		display: block;
	}
	.nav-child:before {
	  position: absolute;
	  top: -7px;
	  left: 9px;
	  display: inline-block;
	  border-right: 7px solid transparent;
	  border-bottom: 7px solid #ccc;
	  border-left: 7px solid transparent;
	  border-bottom-color: rgba(0, 0, 0, 0.2);
	  content: '';
	}
	.nav-child:after {
	  position: absolute;
	  top: -6px;
	  left: 10px;
	  display: inline-block;
	  border-right: 6px solid transparent;
	  border-bottom: 6px solid #ffffff;
	  border-left: 6px solid transparent;
	  content: '';
	}
}

// Hover state
// -----------
.navigation .nav-child li > a:hover,
.navigation .nav-child li > a:focus,
.navigation .nav-child:hover > a {
  text-decoration: none;
  color: @dropdownLinkColorHover;
  background-color: @dropdownLinkBackgroundHover;
  #gradient > .vertical(@dropdownLinkBackgroundHover, darken(@dropdownLinkBackgroundHover, 5%));
}




// Content
// -----------
.content {
	padding-top: 5px;
}

.left .nav .nav-child,
.right .nav .nav-child {
	padding-left: 5px;	
}


//
// Pager pagination
// --------------------------------------------------


.pager {
  margin: @baseLineHeight 0;
  list-style: none;
  text-align: center;
  .clearfix();
}
.pager li {
  display: inline;  
}
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  color: #fff;
  margin: 0 10px;
  background-color: #005885;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
  border: none;
  .border-radius(1px);
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #555;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #fff;
  background-color: #0282c3;
  cursor: default;
}



//
// Pagination (multiple pages)
// --------------------------------------------------
.pagination ul > li > a {
	color: #333;
}
.pagination ul > li > a,
.pagination ul > li > span {
  float: left; // Collapse white-space
  padding: 8px 15px;
  line-height: @baseLineHeight;
  text-decoration: none;
  background-color: @paginationBackground;
  border: 1px solid @paginationBorder;
  border-left-width: 0;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: @paginationActiveBackground;
}







// Footer
// -----------
.clear-footer { 
	border-top: 4px solid #0282c3;
	background: #252525;
	color: #959fa4;
	
	a {
		color: #fff;
	}
	
	.container {
		border: none;
		background: none;
		padding-top: 15px;
		padding-bottom: 30px;
		
		.footnav .nav {
			padding:0;
			margin:0;
		}
		.footnav .nav > li {
			float: left;
		}
		.footnav .nav > li > a,
		.footnav .nav > li > a:hover
		.footnav .nav > li > a:focus {
			background: none;
		}
		.footnav .nav > li > a:hover {
			color: #0074AE;
			transition: color 0.2s linear;
		}
		
		.footnav .nav > li > a:after {
			color: #8f9599;
			content: "/";
			margin: 0 9px;
		}
		.footnav .nav > li:last-child > a:after {
			color: #8f9599;
			content: "";
			margin: 0;
		}
		
		.footer {
			margin:0;
			text-align: center;
			padding-top: 10px;
			color: #fff;
			.copyright {
				
			}		
		}		
	}
}







// -----------
// -----------
// -----------

@media (max-width: 480px) {
	.item-info > span {
		display:block;
	}
	.blog-item .pull-right.item-image {
		margin:0 0 18px 0;
	}
	.blog-item .pull-left.item-image {
		margin:0 0 18px 0;
		float:none;
	}
}
@media (max-width: 768px) {
	body {
		padding-top: 0;
	}
	.clear-slider {
		top:0;
		.ext-item-html {
			display: none;
		}
	}
	.header {
		background:transparent;	
	}
	
	.header .brand {
		float:none;
		display:block;
		text-align:center;
	}
	
	.header-search {
		float:none;
		display:block;
		
	}
	.header-search form {
		margin: 0;
	}
	.header-search .search-query {
		width: 90%;
	}
	.header .nav-pills > li > a {
		border: 1px solid @tableBorder;
		border-bottom:0;
		margin:0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		margin-right: 0;
	}
	.header .nav-pills > li:first-child > a {
		-webkit-border-radius: 4px 4px 0 0;
		-moz-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0;
	}
	.header .nav-pills > li:last-child > a {
		-webkit-border-radius: 0 0 4px 4px;
		-moz-border-radius: 0 0 4px 4px;
		border-radius: 0 0 4px 4px;
		border-bottom:1px solid @tableBorder;
	}
	.modal.fade {
		top:-100%;
	}
	.nav-tabs {
		border-bottom: 0;
	}
	.nav-tabs > li {
		float: none;
	}
	.nav-tabs > li > a {
		border: 1px solid @tableBorder;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		margin-right: 0;
	}
	.nav-tabs > li:first-child > a {
		-webkit-border-radius: 4px 4px 0 0;
		-moz-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0;
	}
	.nav-tabs > li:last-child > a, .nav-tabs > .active:last-child > a {
		-webkit-border-radius: 0 0 4px 4px;
		-moz-border-radius: 0 0 4px 4px;
		border-radius: 0 0 4px 4px;
		border-bottom:1px solid @tableBorder;
	}
	.nav-tabs > li > a:hover {
		border-color: @tableBorder;
		z-index: 2;
	}
	.nav-tabs.nav-dark > li > a {
		border: 1px solid @grayDark;
	}
	.nav-tabs > li:last-child > a, .nav-tabs > .active:last-child > a {
		border-bottom:1px solid @grayDark;
	}
	.nav-tabs.nav-dark > li > a:hover {
		border-color: @grayDark;
	}
	.nav-pills > li {
		float: none;
	}
	.nav-pills > li > a {
		margin-right: 0;
	}
	.nav-pills > li > a {
		margin-bottom: 3px;
	}
	.nav-pills  > li:last-child > a {
		margin-bottom: 1px;
	}
	.form-search > .pull-left,
	.form-search > .pull-right {
		float:none;
		display:block;
		margin-bottom:9px;
	}
}
@media (max-width: 980px) {
	.navbar-fixed-top {
		margin-bottom:0!important;
	}
	.item-comment .item-image{
		display:none;
	}
	.well {
		padding: 10px;
	}	
	.header-right {
		width: 100%;	
		float: left;
		text-align: left;
		.clear-map {
			width: 100%;
		}
		.clear-phone {
			text-align: left !important;
			width: 100%;
		}
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	#login-form .input-small {
		width: 62px;
	}
}
// Page break
dl.tabs {
	float: left;
	margin-bottom: -1px;
}
dl.tabs dt.tabs {
	float: left;
	margin-left: 3px;
	padding: 4px 10px;
	background-color: #F0F0F0;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}
dl.tabs dt:hover {
	background-color: #F9F9F9;
}
dl.tabs dt.open {
	background-color: #FFF;
	border-bottom: 1px solid #FFF;
}
dl.tabs dt.tabs h3 {
	margin: 0;
	font-size: 1.1em;
	font-weight: normal;
}
dl.tabs dt.tabs h3 a {
	color: #0088CC;
}
dl.tabs dt.tabs h3 a:hover {
	color: #005580;
	text-decoration: none;
}
dl.tabs dt.open h3 a {
	color: #000;
	text-decoration: none;
}
div.current dd.tabs {
	margin: 0;
	padding: 10px;
	clear: both;
	border: 1px solid #CCC;
	background-color: #FFF;
}

/* Help site refresh button*/
#helpsite-refresh {
	vertical-align: top;
}

/*Print pop-up*/
#pop-print {
	float: right;
	margin: 10px;
}

/*Code white space*/
code {
	white-space: pre-wrap;
}

/*Search filter*/
#filter-search {
	vertical-align: top;
}

/*Fix for editor buttons having a stupid height*/
.editor {
	overflow: hidden;
	position: relative;
}

/* Com_search highlighting */
.search span.highlight {
	background-color:#FFFFCC;
	font-weight:bold;
	padding:1px 4px;
}
