.clearout { height:20px;clear:both;}
.nbs-flexisel-container {position:relative;	max-width:100%;}
.nbs-flexisel-ul {
	position:relative;
	width:9999px;
	margin:0px;
	padding:0px;
	list-style-type:none;	
	text-align:center;	
}

.nbs-flexisel-inner {
	overflow:hidden;
	/*float:left;*/
	width:100%;
	background-color: #fff;
    border-top: 1px solid #e2e2e2;
/*	background:#fcfcfc;
	background: #fcfcfc -moz-linear-gradient(top, #fcfcfc 0%, #eee 100%); 
	background: #fcfcfc -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc)), color-stop(100%,#eee)); 
	background: #fcfcfc -webkit-linear-gradient(top, #fcfcfc 0%, #eee 100%); 
	background: #fcfcfc -o-linear-gradient(top, #fcfcfc 0%, #eee 100%); 
	background: #fcfcfc -ms-linear-gradient(top, #fcfcfc 0%, #eee 100%);
	background: #fcfcfc linear-gradient(top, #fcfcfc 0%, #eee 100%);*/
	/*
	border:1px solid #ccc;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;	
	*/
}

.nbs-flexisel-item {
	float:left;
	margin:0px;
	padding:0px 10px;
	cursor: default;
	position:relative;
	line-height:0px;
}
.nbs-flexisel-item img {
	
	cursor: default;
	position: relative;
	margin: 0px;
	
}

