/*089 custom*/

/*allg.*/

	/*aktuelles*/
		.blog.no-border .page-header {
			border: none;
		}

		.blog.news h2 {
			font-size: 22px;
		}

		.article-info-term {
			display: none;
		}

		.pull-left.item-image img {
		    border: 1px outset #E2E2E2;
		}

body.itemid-131 .navbar .nav li,
body.itemid-110 .navbar .nav li {
	font-weight: 100;
}

body.itemid-131 .navbar .nav li a,
body.itemid-110 .navbar .nav li a {
	padding: 12px 6px 12px 7px;
}

.youtube {
    margin: 60px auto 0px;
    max-width: 560px;
}

div.konfigurator_img {
	margin: 30px 0px 0px 0px;
}

div.konfigurator_img img:hover {

}

div.ring_config {
    width: 100%;
    margin: 0px auto;
    display: table;
}

div.config_row {
	display: table-row;
}

ul.nav.cl-effect-7 li.item-113,
ul.nav.cl-effect-7 li.item-131 {
    display: none;
}

  /*cg h2*/

    .page-header h2,
    .page-header h1 {
      text-transform: uppercase;
    }

@media(max-width: 768px) {
    div.tp-bannershadow {
        display: none;
    }
}

/*Owl Carousel*/

	#owl-demo .item{
	  margin: 3px;
	}
	#owl-demo .item img{
	  display: block;
	  width: 70%;
	  height: auto;
	  margin: 0px auto;
	}

	.custom.owl-wrapper {
	    max-width: 80%;
	    margin: 0px auto;
      overflow: hidden;
	}

	.owl-buttons {
	    position: absolute;
	    display: block;
	    width: 100%;
	    height: auto;
	}

	.owl-prev  {
		background: url('../images/arrow-left.png') center center no-repeat;
		width: 34px;
    	height: 34px;
    	right: 106%;
    	position: absolute;
    	margin: 0px;
	}

	.owl-next  {
		background: url('../images/arrow-right.png') center center no-repeat;
		width: 34px;
    	height: 34px;
    	right: 90%;
    	position: absolute;
    	margin: 0px;
	}

.span6.konfigurator_img {
    text-align: center;
    background-color: #ECEDEF;
    padding: 50px;
    border: 5px solid transparent;
    box-shadow: none;
    transition: all 0.6s ease-in-out;
}

.span6.konfigurator_img:hover {
    background-color: rgba(255, 255, 255, 0.42);
    border: 5px solid #ECEDEF; 
    box-shadow: inset 0px 3px 10px 2px #7d7d7d;
}

/*.span6.konfigurator_img img {
    width: 230px;
    height: 80px;
}*/

/*.span6.konfigurator_img a {
    padding: 50px;
}*/

.span6.konfigurator_img.verlobung {
	padding: 0px;
}

.span6.konfigurator_img.verlobung img {
    width: 100%;
    height: auto;
}

.span6.konfigurator_img.verlobung a {
	padding: 0px;
}





	/*Hover Kategorien*/

      .view {
          overflow: hidden;
          position: relative;
          text-align: center;
          cursor: default;
          /*background: #fff url(../images/bgimg.jpg) no-repeat center center*/
      }
      .view .mask, .view .content {
          width: 100%;
          height: 90%;
          position: absolute;
          overflow: hidden;
          top: 5%;
          left: 0
      }
      .view img {
          display: block;
          position: relative
      }
      .view h3 {
          text-transform: uppercase;
          color: #fff;
          text-align: center;
          position: relative;
          font-size: 17px;
          padding: 10px;
          background: rgba(0, 0, 0, 0.5);
          margin: 20px 0 0 0
      }
      .view p {
          font-family: Georgia, serif;
          font-style: italic;
          font-size: 12px;
          position: relative;
          color: #fff;
          padding: 10px 20px 10px;
          text-align: center
      }
      .view a.info {
          display: inline-block;
          text-decoration: none;
          padding: 7px 14px;
          background: #4A413A;
          color: #fff;
          text-transform: uppercase;
          box-shadow: 2px 2px 25px #000;
      }
      .view a.info:hover {
          box-shadow: 0 0 5px #000
      }

      .view-first img { 
          transition: all 0.2s linear;
      }
      .view-first .mask {
          opacity: 0;
          background-color: rgba(74, 65, 58, 0.43); 
          transition: all 0.4s ease-in-out;
      }
      .view-first h3 {
          transform: translateY(-100px);
          opacity: 0;
          transition: all 0.2s ease-in-out;
      }
      .view-first p { 
          transform: translateY(100px);
          opacity: 0;
        transition: all 0.2s linear;
      }
      .view-first a.info{
          opacity: 0;
        transition: all 0.2s ease-in-out;
      }

@media(min-width: 768px) {
      .view-first:hover img { 
        transform: scale(1.1);
      } 
    }
      .view-first:hover .mask { 
        opacity: 1;
      }
      .view-first:hover h3,
      .view-first:hover p,
      .view-first:hover a.info {
          opacity: 1;
          transform: translateY(0px);
      }
      .view-first:hover p {
          transition-delay: 0.1s;
      }
      .view-first:hover a.info {
          transition-delay: 0.2s;
      }

      h3#verlobungsring {
        font-size: 16px;
      }


/*footer*/
     ul.luboss_links {
          padding-top: 15px;
      }

      ul.luboss_links.pull-right {
        padding-bottom: 0px;
      }

/*** Carousel Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
  width: 22px;
  height: 22px; 
  position: absolute;
  cursor: default;
  z-index: 100;
  opacity: 0.5;

}

.nbs-flexisel-nav-left {
  left: 10px;
  background: url(../button-previous.png) no-repeat;
  display: block;
}

.nbs-flexisel-nav-right {
  right: 5px;
  ackground: url(../button-next.png) no-repeat;
  display: block;
}

/*Carosuel Home*/

  body.is_home .module_bottom.position_bottom7 {
      height: 35px;
      background: #fff;
      padding: 5px 0px 5px;
  }

  div.owl-startseite div.owl-pagination {
      display: none;
  }

  div.owl-startseite div.owl-buttons {
      display: none !important;
  }

  div.owl-startseite .custom.owl-wrapper {
    max-width: 99%;
  }

  div.owl-startseite div.owl-item {
      max-width: 100px;
  }

  div.owl-startseite div#owl-demo div.item img {
      width: inherit;
  }

/*404*/


.custom_404 span {
    font-size: 144px;
    font-family:"monospace","fantasy";
}

.custom_404 {
    width: 100%;
    margin: 50px auto;
    text-align: center;
}
