
@media(min-width: 770px) and (max-width: 1185px) {
	.cat_showcase h2.cat_header {
	    font-size: 13px;	}
}

@media (max-width: 1199px) {

	.navbar .nav li a {
		padding: 12px 5px;		
		font-size: 12px;
	}

	.navbar .nav {
		top: 38px;
	}

}

@media(min-width: 220px) and (max-width: 319px) {
		.span6.konfigurator_img img {
	    height: 2vh;
	}
}

@media(min-width: 320px) and (max-width: 767px){
/*	.span6.konfigurator_img img {
		width:25vw;
	    height: 4vh;
	}*/
	.span6.konfigurator_img {
	    padding: 25px;
	}

	h3 {
		font-size: 18px;
	}

	.kontakt_footer ul li {
		font-size: 15px;
	}
}

@media(min-width: 767px) and (max-width: 979px){
	.span6.konfigurator_img img {
		width: 20vw;
	    height: 6vh;
	}

	.span6.konfigurator_img {
	    padding: 25px;
	}

	h3 {
		font-size: 11px;
	}

	.kontakt_footer ul li {
		font-size: 10px;
	}
}

@media (max-width: 979px) {

	.span6.konfigurator_img.verlobung img {
		max-width: 65vw;
		height: auto;	
	}

	.navbar .nav li a {
		padding: 12px 3px;		
		font-size: 12px;
	}

	div.row-fluid div.logo {
	    margin: 20px 0px 0px 40px;
	}

	h2 {
		font-size: 14px !important;
	}

	h2.nav_Banner_header {
		font-size: 13px !important;
	}

	.span6.konfigurator_img img {
	    max-width: 30vw;
	}

	body.is_home .module_bottom.position_bottom7 {
      padding: 0px 0px 5px;
  	}

}

/*Startseite Banner*/
@media (min-width: 240px) and (max-width: 767px) {
		
		.view-first a.info {
	    margin: 15px 0px;	    
	}

	.view h3 {
	    color: #000;
	    font-size: 14px !important;
	    background: transparent;
	   	border-top: 1px solid grey; 
	}

}
	@media (min-width: 768px) and (max-width: 779px) {
		.view-first a.info {
		    margin: 75px 0px;	    
		}

		h3#verlobungsring {
		    font-size: 11px !important;
		}
	}

	@media (min-width: 768px) and (max-width: 1023px) {
		h3#verlobungsring {
		    font-size: 11px !important;
		}
	}

@media (max-width: 768px) {


	h3.no_border {
		border-top: none;
	}


	body.is_home div.ls-shadow img {
		display: none;
	}

	.view-first .mask {
	     background-color: transparent; 
	}

	.cat_showcase .cat_item {
	    box-shadow: none;
	}
	.visible-desktop-module {
		display: none;
	}

	.view-first .mask {
		opacity: 1.0;
	}

	.view .mask, .view .content {
	    height: auto;
	    top: 0%;
	    left: 0;
	}

	.view h3 {
		margin: 5px 0px 0px 0px;
	}

	.view-first h3 {
	    transform: inherit;
	    opacity: 1.0;	   
	}

	.view-first a.info {
	    opacity: 1.0;
	    padding: 4px 5px;
	    font-size: 10px; 
	}

	.mask p {
		display: none;
	}

	h2.cat_header {
		display: none;
	}

	.cat_showcase .cat_item {
		padding: 0px;		
	}

	.navbar .nav {
		right: 0;
		top: 10px !important;
	}

	.navbar .nav li a {
		color: #585451;
		font-size: 12px !important; 
	}

	.row-fluid .span7.navbar {
		width: 100%;
		margin: 0px 0px 10px 10px;
	}

	.span5.logo {
		padding-bottom: 0px;
	}

	.span5.logo.pull-left {
    	width: 90%;
	}

	div.container.content img.luboss_store {
		display: none;
	}

	body.com_content div.site_wrapper p {
		font-size: 16px;
	}

	#carousel-left {
		left: 2vw;
	}

	#carousel-right {
		right: 2vw;
	}

	div.site_wrapper div.copyright p {
		font-size: 8px;
	}

}

@media (max-width: 1024px) {
	.view-first h3 {
	    opacity: 1.0;	   
	}

	.view-first a.info {
	    opacity: 1.0;
	    font-size: 10px; 
	}

	.view-first .mask {
		opacity: 1.0;
	}

	.view .mask,
	.view .content {
	    height: auto;
	    top: 0%;
	    left: 0;
	}

	.view-first .mask {
	     background-color: transparent; 
	}

	.mask p {
		display: none;
	}

}

	@media (max-width: 767px) {

		.clear-phone-logo {
		    margin: 0px auto;
		    width: 80%;
		    padding: 10px 0px 0px 0px;
		}

		.view-first a.info {
		    margin: 15px 0px;   
		}

		.cat_showcase {
			background-image: none;
		}

		.cat_showcase.span12 div.cat_item {
			max-width: none;
			margin: 0px !important;
		}

		.cat_showcase .cat_item .cat_img img {
			max-height: none;
		}

		div.cat_img {
			max-height: 100px;
			padding: 0px 0px 28px 0px; 
		}

		div.cat_img img {
			display: initial;
		    width: 20%;
		    right: 40%;
		    position: relative;
		    top: 10px;	
		}


		.view .mask, .view .content {
		    width: 100%;
		    height: 100%;
		    top: 0%;
		}

		.view a.info {
			font-size: 9px;
			box-shadow: none;
		}

		.view.view-first.cat_img.last {
    		padding-bottom: 46px;
		}

	/*Cat nav*/

		ul#da-thumbs {
			margin: 0px auto;
			max-width: 250px;
		}

		ul#da-thumbs li.span3 {
			margin: 0px !important;
		}

	/*footer*/

		.kontakt_footer .span4.offset2 {
		    margin-left: 0;
		}

		.kontakt_footer {
			background: none;
			max-height: 100%;
			padding-left: 0px;
		}

		.container.clear-footer-wrap div.row-fluid {
		    text-align: center;
		}

		.social_icons {
		    position: inherit;
		    width: 48px;
		    margin: 0px auto;
		}

		div.footer_menu {
			display: none; 
		}

		ul.nav.cl-effect-7 li.item-113, ul.nav.cl-effect-7 li.item-131 {
		    display: list-item;
		}


		.home_li,
		.fon_li,
		.fax_li,
		.mail_li {
			background-image: none !important;
			padding-left: 0px !important;
		}

	/*carousel*/

		.carousel-feature {
			max-width: 45%;
		}


	/*content*/

		#content .blog,
		#content .item-page,
		#content .contact_form {
			padding: 15px;
		}

		body.com_content div.site_wrapper p {
			font-size: 14px;
		}

		body.com_content div.site_wrapper div.copyright p {
			font-size: 7px;
		}
	}





@media (min-width: 769px) {
	.visible-mobile-module {
		display: none;
	}
}

@media (min-width: 850px) and (max-width: 1024px) {
	.view .mask {
		padding: 30px 0px;
	}
}


/*Menue*/
@media (max-width: 907px) {

	.navbar .nav {
		top: 33px;
	}

	.navbar .nav li a {
		padding: 12px 5px;		
		font-size: 10px;
	}

}

@media (max-width: 805px) {

	.navbar .nav {
		top: 33px;
	}

	.navbar .nav li a {
		padding: 12px 4px;		
		font-size: 9px;
	}

}

@media(min-width: 220px) and (max-width: 319px) {
	.span6.konfigurator_img {
	    padding: 15px;
	}
}

