
.ap_quick_contact_form{margin:0 auto;}

.contact_info {padding:0 20px 0 0;margin-left:-10px;}

.ap_quick_contact .form-horizontal div{margin:0 auto 7px;position:relative;padding:0;}
.ap_quick_contact .btn.submit > i {padding:1px 8px 1px 2px;}
.ap_quick_contact .btn.submit{display:block;float:left;margin-left:6px;z-index:7;padding:6px 17px 6px 12px;outline:0;color:#595959}
.ap_quick_contact .btn.submit:hover{color:#333}
.ap_quick_contact .text,
.ap_quick_contact .textarea{text-indent:2px;color:#333;position:relative;z-index:2;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}
.form-horizontal .controls{*display:inline;*padding-left:20px;margin-left:0!important;*margin-left:0}
.ap_quick_contact .text{padding:7px 8px;width:200px;}
.ap_quick_contact .input-append .add-on{padding:7px 12px;position:absolute;float:right;right:-41px;z-index:1;border-radius:0 4px 4px 0!important;border-left:0;}
.ap_quick_contact .textarea{padding:7px 8px;height:150px;width:242px}
.ap_quick_contact .form-horizontal label{width:95px;padding:6px 3px 6px 0;margin-right:12px;cursor:auto}
.ap_quick_contact .form-horizontal label.empty{max-width:90px;cursor:default}
.ap_quick_contact .text[placeholder]::-webkit-input-placeholder:after,.ap_quick_contact textarea[placeholder]::-webkit-input-placeholder:after{color:#ec7d7d;content:"*";padding:2px 3px}
.ap_quick_contact .text[placeholder]:focus::-webkit-input-placeholder,.ap_quick_contact textarea[placeholder]:focus::-webkit-input-placeholder{color:#ddd}
.ap_quick_contact .text[placeholder]:focus::-webkit-input-placeholder::after,.ap_quick_contact textarea[placeholder]:focus::-webkit-input-placeholder::after{color:#e7e7e7;content:"*"}

.ap_quick_contact .form-horizontal label.error,.ap_quick_contact .form-horizontal label.ok{position:absolute;z-index:1;top:2px;float:left;left:100%;padding:0 9px 0 8px;width:auto;text-align:left;margin-left:47px;background-repeat:no-repeat;background-position:8px 7px;line-height:30px;font-size:12px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease}
.ap_quick_contact .area label.error,.ap_quick_contact .area label.ok {margin-left:7px;}
.ap_quick_contact label.ok{background-color:#deefca;color:#577530}
.ap_quick_contact label.error{background-color:#f7dedb;background:rgba(247,225,225,0.85);color:#c81925}
.ap_quick_contact label.error:before,.ap_quick_contact label.ok:before{font-family:FontAwesome;font-weight:normal;font-style:normal;text-decoration:inherit;font-size:100%;-webkit-font-smoothing:antialiased;margin-right:6px;color:#FFF;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}
.ap_quick_contact label.error:before{content:"\f00d";padding:2px 3px;background-color:#e94b4b}
.ap_quick_contact label.ok:before{content:"\f00c";padding:2px 1px 2px 2px;background-color:#6bbb51}
.ap_quick_contact .area label.ok,.ap_quick_contact .area label.error{height:30px;padding-left:8px;background-position:8px 7px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;vertical-align:top}

/* Error Message */
.ap_quick_contact_form .alert.alert-success,.ap_quick_contact .alert.alert-block{clear:both;text-align:center;margin:0 auto 30px;-webkit-box-shadow:0 1px 4px 0 rgba(0,0,0,0.1);box-shadow:0 1px 4px 0 rgba(0,0,0 .1)}.ap_quick_contact #message{color:#F00;clear:both;display:table;text-align:center;margin:0 auto 10px}.ap_quick_contact_form span.label{font-size:14px;margin:2px 10px 0;padding:5px 10px;line-height:110%;vertical-align:top}.ap_quick_contact_form .alert.alert-success #message{color:#F00;clear:both;display:table;text-align:center;margin:0 auto 20px}.ap_quick_contact_form .close{top:-5px!important;padding:5px;right:-30px!important;font-size:26px}.ap_quick_contact_form #message h4{margin-top:-7px;padding:10px 0;font-size:150%;line-height:140%}
.ap_quick_contact_form #message h4 span.label-success {margin:0 10px;padding:5px 10px;font-size:18px;line-height:125%;vertical-align:top;color:#fff;}
.ap_quick_contact_form #message h4 span.label-success i {color:#fff;font-size:100%;margin:1px 3px 0 2px;}
.ap_quick_contact .btn,.ap_quick_contact .text,.ap_quick_contact .textarea,.ap_quick_contact label.error,.ap_quick_contact label.ok{float:left}.ap_quick_contact a{color:#fff}.ap_quick_contact a img{border:0}


/* RESPONSIVE */
@media (min-width: 980px) and (max-width: 1200px) {
	.ap_quick_contact .form-horizontal label {width:85px;}
	.ap_quick_contact .text {width:260px;}
	.ap_quick_contact .textarea {width:301px;}
	.ap_quick_contact .form-horizontal label.empty {width: 85px;}
	.contact_info {clear:both;width:95%;padding:0 20px 0 50px;}
}
@media (min-width: 768px) and (max-width: 979px) {
	.ap_quick_contact .text {width:300px;margin-left:25px;}
	.ap_quick_contact .textarea {width:341px;margin-left:25px;}
	.ap_quick_contact .btn.submit{padding: 7px 25px 7px 20px;margin-left:25px;}
	.contact_info {clear:both;width:95%;margin:0 auto;}
}
@media (max-width: 767px) {
	.ap_quick_contact .text {width:250px;margin-left:15px;}
	.ap_quick_contact .textarea {width:291px;margin-left:15px;}
	.ap_quick_contact .btn.submit{padding: 8px 25px 7px 20px;margin-left:15px;}
	.contact_info {clear:both;padding:0 10px 0 40px;}	

}
@media (max-width: 480px) {
	.ap_quick_contact .form-horizontal .controls{margin-left:0!important;margin-right:0!important;padding:0!important}
	.ap_quick_contact .text{width:255px!important}.ap_quick_contact .textarea{width:296px!important;max-width:auto}
	.ap_quick_contact .btn.submit{margin-left:17px;padding: 8px 35px 7px 30px}
	.contact_info {clear:both;padding:0 7px 0 7px;}
	.ap_quick_contact label.error{background:rgba(247,225,225,1)}
	.ap_quick_contact .form-horizontal label.error,
	.ap_quick_contact .form-horizontal label.ok{position:absolute;z-index:10;margin:2px 0 0 15px;float:left;left:41%;padding:0 9px 0 8px;width:auto;text-align:left;line-height:28px}
	.ap_quick_contact .area label.ok,.ap_quick_contact .area label.error{height:30px;margin:3px 0 0 0;float:left;z-index:10;left:41%}
}