.widget .widget-top,
.postbox h3,
.stuffbox h3 {
    background: #f1f1f1;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ececec), to(#f9f9f9));
    background-image: -webkit-linear-gradient(bottom, #ececec, #f9f9f9);
    background-image:    -moz-linear-gradient(bottom, #ececec, #f9f9f9);
    background-image:      -o-linear-gradient(bottom, #ececec, #f9f9f9);
    background-image: linear-gradient(to top, #ececec, #f9f9f9);
     border-bottom: 1px solid;
    border-bottom-color: #DFDFDF;
    box-shadow: 0 1px 0 #FFFFFF;
    text-shadow: 0 1px 0 #FFFFFF;
    text-shadow: #fff 0 1px 0;
    -webkit-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
    color: #464646;
    font-size: 14px;
    font-weight: normal

}

.postbox {
    background: #f5f5f5;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(bottom, #f5f5f5, #f9f9f9);
    background-image:    -moz-linear-gradient(bottom, #f5f5f5, #f9f9f9);
    background-image:      -o-linear-gradient(bottom, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(to top, #f5f5f5, #f9f9f9);
    border-color: #dfdfdf;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    line-height: 1;
    margin-bottom: 20px;
    padding: 0;
}

.js .sidebar-name:hover h3,
.js .postbox h3:hover {
    color: #000;
}
.js .meta-box-sortables .postbox:hover .handlediv {
    background: transparent url(../images/arrows.png) no-repeat 6px 7px;
}
/* End About Pages */
/* Edit Image */
.js.rtl .meta-box-sortables .postbox:hover .handlediv {
    background: transparent url(../images/arrows.png) no-repeat 6px 7px;
}
