.tp-caption.style2,.style2{font-size:22px;line-height:30px;font-weight:normal;font-family:Montserrat,sans-serif;color:#f2f2e9;text-decoration:none;text-transform:uppercase;padding:1px 50px 0px 34px;text-shadow:none;margin:0px;letter-spacing:normal;height:auto;background-color:rgb(255,255,255);background-color:rgba(255,255,255,0.498039);border-width:0px;border-color:rgb(255,255,255);border-style:none}

.style2,.style2{font-size:22px;line-height:30px;font-weight:normal;font-family:Montserrat,sans-serif;color:#f2f2e9;text-decoration:none;text-transform:uppercase;padding:1px 50px 0px 34px;text-shadow:none;margin:0px;letter-spacing:normal;height:auto;background-color:rgb(255,255,255);background-color:rgba(255,255,255,0.498039);border-width:0px;border-color:rgb(255,255,255);border-style:none}